.container {
  padding: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-bar {
  margin-bottom: 20px;
}

.loading-container {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
}

mat-paginator {
  background-color: transparent;
}
